.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slides_wrapper {
  transition: transform 0.75s;
  display: grid;
  grid-auto-flow: column;
}

.slide {
  width: 100vw;
  height: 100vh;
  border-radius: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  &.padded {
    width: calc(100vw - 10vh);
    height: 90vh;
    margin: 5vh;
  }
}

.left_arrow,
.right_arrow {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 10;
}

.left_arrow {
  width: 25vw;
  left: 0;
}

.right_arrow {
  width: 75vw;
  right: 0;
}

.content {
  background-color: rgba(black, 0.7);
  font-size: 48px;
  line-height: 72px;
  width: 50vw;
  text-align: center;
  padding: 20px;
  color: white;
  &.center {
    align-self: center;
  }
  &.top {
    align-self: flex-start;
  }
  &.bottom {
    align-self: flex-end;
  }

  &.left {
    justify-self: flex-start;
  }
  &.right {
    justify-self: flex-end;
  }
  &.middle {
    justify-self: center;
  }
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  display: grid;
  column-gap: 6px;
  padding: 6px;
  box-sizing: border-box;
}

.stripe {
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgba(white, 0.3);
  position: relative;
  &::after {
    content: " ";
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    max-width: 0%;
    transition: max-width 0.75s ease-in-out;
    background-color: white;
  }
  &.active {
    &::after {
      max-width: 100%;
    }
  }
}

.article {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.article_wrapper {
  transition: transform 0.75s;
  display: grid;
  &.toggled {
    transform: translateY(-100vh);
  }
}

.article_content {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: black;
  color: white;
}

.article_content {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }
  ol {
    font-size: 20px;
  }
}

.article_text {
  padding: 40px;
  margin: 20px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 48px;
  overflow-y: auto;
  background-color: #fff;
  color: black;
  &::--webkit-scrollbar {
    display: none;
  }
}
